.service-title{
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 50px;
    color: white;
}
.service-container{
    background-color: rgb(7, 7, 66);
    color: white;
    padding: 180px 0px;
    clip-path: polygon(0 7%, 100% 0%, 100% 92%, 0% 100%);
}
@media only screen and (max-width:668px) {
    .service-container{
        clip-path: none;
    }
}