.servic-container{
    background-color: white;
    border-radius: 10px;
}
.service-name{
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #249ed9 !important;
}
.servic-desc{
    color:rgb(7, 7, 66) !important;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.btn-details{
    background-color: transparent;
    border: 2px solid #249ed9;
    color: #249ed9;
    padding: 5px 50px;
    font-weight: 600;
    letter-spacing: 0.8px;
    transition: 0.6s ease-in;
}
.btn-details:hover{
    background-color: #249ed9;
    color: white;
}