.chooseUS-section{
    padding-top: 80px;
    padding-bottom: 40px;
}
.choose-text{
    color:#249ed9;
}
.choose-card{
    background-color: #7adfed;
    padding: 30px 25px;
    border-radius: 10px;
    text-align: center;
    transition: 0.6s ease-in;
}
.choose-card:hover{
    background-color: lightgray;
    box-shadow: 5px 5px 50px lightgray;
}
.card-icon{
    font-size: 75px;
    padding-bottom: 20px;
    color: rgb(7, 7, 66);
}
.card-desc{
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: justify;
    padding: 10px 0px;
}
.btn-view{
    border: none;
    background-color: transparent;
    color: rgb(7, 7, 66);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}