.about-title h1{
    color: #249ed9;
    padding-bottom: 10px;
}
.about-title span{
    padding: 0px 100px;
    letter-spacing: 1px;
    color: rgb(97, 94, 94);
    font-weight: 500;
}
.about-card{
    background-color: lightgray;
    padding: 30px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: 0.6s ease-in;
}
.about-card:hover{
    background-color: transparent;
    border: 2px solid #249ed9;
}
.about-card h4{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 0px;
}
.about-card p{
    letter-spacing: 1px;
    font-weight: 500;
    text-align: justify;
}
.doctorSection-title{
    letter-spacing: 1px;
    font-weight: 600;
}
.doctorSection-title span{
    color: #249ed9;
    font-weight: 700;
}
.btn-seeClinic{
    background-color: transparent;
    margin: 15px 0px;
    border: 2px solid #249ed9;
    color: #249ed9;
    padding: 8px 60px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.6s ease-in;
}
.btn-seeClinic:hover{
    background-color: #249ed9;
    color: white;
}
@media only screen and (max-width:668px) {
    .about-img{
        width: 100%;
    }
    .btn-seeClinic{
        padding: 5px 30px;
        
    }
    .about-card p{
        text-align: center;
        padding: 0px;
    }
}