.blog-container{
    box-shadow: 5px 5px 20px lightgray;
    padding: 10px 10px;
    border: 2px solid transparent;
    transition: 0.6s ease-in;
}
.blog-container:hover{
    box-shadow: none;
    border: 2px solid #249ed9;
}
.blog-info h4{
    letter-spacing: 1px;
    font-weight: 600;
    color: #249ed9;
}
.blog-info h6{
    letter-spacing: 2px;
    color: gray;
}
.blog-info p{
    text-align: justify;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-seeMore{
    background-color: transparent;
    margin: 15px 0px;
    border: 2px solid #249ed9;
    color: #249ed9;
    padding: 8px 60px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.6s ease-in;
}
.btn-seeMore:hover{
    background-color: #249ed9;
    color: white;
}
@media only screen and (max-width:668px) {
    .blog-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .btn-seeMore{
        padding: 5px 40px;
    }
}