.footer-container{
    margin-top: 80px;
}
.footer-container{
    background-color: rgb(7, 7, 66);
}
.footer-contact{
    color: #249ed9;
    font-weight: 700;
    letter-spacing: 0.8px;
}
.footer-item{
    letter-spacing: 1px;
    font-weight: 500;
}
.copyright-text{
    letter-spacing: 2px;
}